@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

@import "./config/config";
@import "./components/header.scss";
@import "./components/portfolio.scss";

body {
  color: $color;
  background: $body;
  font-family: "Roboto", sans-serif;
}
